<div class="col-md-3 pl-35">
  <div class="row">
    <div class="col-md-12 text-align-center">
      <h5 class="bold">Ready to Answer</h5>
      <img style="border: 1px solid #575555;" src="assets\Images\woman.png" alt="assets\Images\noimage.png" width="150"
        height="150">
      <h5 class="bold">Erin G.</h5>
      <h5>Math Teacher</h5>
      <img src="assets\Images\stars.PNG">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="bold">Why Teacher ?</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="bold"><i class="material-icons">check_circle_outline</i> Simple</h5>
      <h5>We make it fast and simple to get a step by step explanations from a real teacher.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="bold"><i class="material-icons">check_circle_outline</i> Instant Service</h5>
      <h5>You'll be connected immediately connected to a certified teacher who'll help solve your problem.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="bold"><i class="material-icons">check_circle_outline</i> Trusted</h5>
      <h5>Ask a question with confidence. We'll protect your privacy and keep your information safe.</h5>
    </div>
  </div>
  <hr style="display: table;">
</div>