<mat-card>
  <div class="small-title heading">Questions I've Answered</div>
  <mat-table #table [dataSource]="dataSource" matSort *ngIf='dataSource.data.length > 0' [class.isMobile]="isMobile">
    <ng-container matColumnDef="information">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img src="assets\Images\noimage.png" width="40" height="40">
        {{row.studentFirstName}} {{row.studentLastName}} <br>
        {{row.createdDate | date: 'EEEE, MMMM d, y'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="problem">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <nga-read-more [text]="row.problemText" [textLength]="350"></nga-read-more>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a style="cursor: pointer;">
          <button mat-button class="red-button" type="button" (click)="RedirectToProblemDetail(row)">Answered
          </button>
        </a>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</mat-card>
<div *ngIf='dataSource.data.length === 0'>
  <div class="text-muted p-15">No data to display.</div>
</div>