.mat-column-information {
    flex: 0 0 27% !important;
    padding: 10px;
}
.mat-column-problem {
    flex: 0 0 55% !important;
    padding: 10px;
}
.mat-column-action {
    flex: 0 0 18% !important;
    padding: 10px;
}
.small-title {
    font-size: 15px;
    color: #2a2929;
    letter-spacing: 1px;
    padding-top: 5px;
}