.mat-column-date {
    flex: 0 0 20% !important;
    padding: 10px;
}
.mat-column-problem {
    flex: 0 0 42% !important;
    padding: 10px;
}
.mat-column-acceptedBy {
    flex: 0 0 16% !important;
    padding: 10px;
}
.mat-column-action {
    flex: 0 0 18% !important;
    padding: 10px;
}